<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-info-brand">
            ©2026 Wanderlust pivate Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;&nbsp;&nbsp;      
            <!--! added space between privacy and terms for more better look-->
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>